[Unit]
Description=bkc-node-healthcheck
After=network.target auditd.service
Wants=network.target

[Service]
ExecStart=/usr/bin/bkc-node-healthcheck-linux-x64
Restart=always
RestartSec=5s
Environment="NETWORK_URLS=http://bbt-testnet-bootnode.th1.proen.cloud"
Environment="MAX_BLOCK_DIFFERENCE=3"

[Install]
WantedBy=default.target 
RequiredBy=swarm.service
Alias=eth-node-healthcheck.service
